<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Créateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/avatar.png">
    </ion-thumbnail>
    <ion-label>Marjolaine VILAIN</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/lela.jpg">
    </ion-thumbnail>
    <ion-label>Lela VILAIN</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/img/canelle.jfif">
    </ion-thumbnail>
    <ion-label>Cannelle POMBOURCQ</ion-label>
  </ion-item>
</ion-content>
